body {
  /* background-color: #a78bfa; */
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
}

h1,
h2 {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  gap: 5px;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;

  /* align-content: center; */
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.item {
  /* width: 100px;
  height: 100px; */
  /* background-color: #2563eb; */
}
#base {
  display: flex;
  border-radius: 25px;
  gap: 2px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #b8e2ff;
  width: 300px;
  padding: 20px;
  height: 550px;
}

.fotoFormulario {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#idDoFuncionario,
#nomeDoFuncionario,
#cargoDoFuncionario,
#salarioDoFuncionario {
  width: 150px;
  height: 15px;
}

#botao01 {
  background-color: #a3e635;
  width: 150px;
  padding: 5px;
  margin: 10px;
  border: 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#formulario {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* background-color: aliceblue; */
}
